#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide p {
  margin: 0;
  font-size: 14px;
}

.swiper-slide .swiper-slide {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 40px !important;
  display: flex !important;
  justify-content: center !important;
}

.swiper-slide img {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: #eee;
}

.swiper {
  width: 100%;
  height: 330px;
  margin: 20px 0;
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-button-prev {
  display:none !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  font-size: 12px !important;
  color: #1d1d1d;
  border: 1px solid #867f7b;
  padding: 12px;
}

.swiper-pagination-bullet-active::after {
  border: solid 1px white !important;
}

.swiper-pagination-bullet-active::after {
  border: solid 1px black !important;
}

@media only screen and (min-width: 720px) {
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 65px !important;
    }

    .swiper {
      height: auto !important;
    }
  }

@media only screen and (min-width: 1200px) {
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0 !important;
    justify-content: flex-end !important;
    }

  .swiper-slide .swiper-slide {
    margin-top: 0;
    align-items: start;
    }
  }

/*No swiper library Css*/

.col, .row, .container {
  --bs-gutter-x: 0 !important;
}

.bg-img {
  width: 100%;
}

.product-list__content {
  display: flex;
}

.product-list__text {
  text-align: center;
}

.product-list__text h3 {
  font-size: 40px;
  font-weight: bold;
}

.product-list__text .desc {
  font-weight: 300;
  color: gray;
}

a {
  color: #000 !important;
  text-underline-offset: 7px;
}

.right {
  padding: 50px 16px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 1200px) {
  .right {
    margin: 60px auto !important;
    padding: 0 !important;
  }

  .product-list__text {
    text-align: left;
  }

  .product-list {
    margin-top: 100px;
  }
}